
.gray-element{
 background-color: lightGray;
}
.text{
    font-style: italic;

}
float-right{
    float: right
}
div{
    display:flex;
    justify-content: space-between;
}
:hover psudo-class{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
