@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: lightgreen;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button{
    background-color: lightskyblue;
    border: none;
    height: 35px;
    width: 110px;
    border-radius: 20px;
}
button:hover{
    background-color: skyblue;
    height: 35px;
    width: 105px;
    transition: 0.2s;
}
a{
    text-decoration: none;
}
.na{
    text-align: center;
    background-color: rgb(87, 236, 87);
    height: 150px;
    border-radius: 20px;
}
h1{
    color: beige;
}
.p1{
    font-size: 1.4rem;
    color: beige;
}
.h2{
    font-size: 30px;
    color: black;
}
.main{
    text-align: center;
}
img{
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.div{
    text-align: center;
    color:beige;
}
.b{
    text-align: center;
}
.btn{
    text-align: center;
    margin-top: 30px;
}
.m{
    text-align: center;
}
.n{
    text-align: center;
}
.v{
    text-align: center;
}
.c{
    text-align: center;
}
.x{
    text-align: center;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ka{
    text-align: center  ;
}
table{
    margin-left: 500px;
    margin-top: 50px;
}
.no{
    text-align: center;
    margin-top: 40px;
}